.absolute-text-centered-over-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
}

.absolute-centered-box {
  /* positions self at center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  /* centers internal elements */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* background-color: rgba(191, 87, 0, 0.5);
  height: 50%;
  width: 50%; */
}

.background-img {
  opacity: 85%;
  height: 400px;
  width: 1925px;
  left: 50%;
  margin-left: -410px;
}

.body {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.filter {
}

.w3-theme-l5 {
  color: #000 !important;
  background-color: #fff9f0 !important;
}
.w3-theme-l4 {
  color: #000 !important;
  background-color: #ffebcc !important;
}
.w3-theme-l3 {
  color: #000 !important;
  background-color: #ffd699 !important;
}
.w3-theme-l2 {
  color: #000 !important;
  background-color: #ffc266 !important;
}
.w3-theme-l1 {
  color: #000 !important;
  background-color: #ffad33 !important;
}
.w3-theme-d1 {
  color: #fff !important;
  background-color: #e68a00 !important;
}
.w3-theme-d2 {
  color: #fff !important;
  background-color: #cc7a00 !important;
}
.w3-theme-d3 {
  color: #fff !important;
  background-color: #b36b00 !important;
}
.w3-theme-d4 {
  color: #fff !important;
  background-color: #995c00 !important;
}
.w3-theme-d5 {
  color: #fff !important;
  background-color: #804d00 !important;
}

.w3-theme-light {
  color: #000 !important;
  background-color: #fff9f0 !important;
}
.w3-theme-dark {
  color: #fff !important;
  background-color: #804d00 !important;
}
.w3-theme-action {
  color: #fff !important;
  background-color: #804d00 !important;
}

.w3-theme {
  color: #000 !important;
  background-color: #ff9800 !important;
}
.w3-text-theme {
  color: #ff9800 !important;
}
.w3-border-theme {
  border-color: #ff9800 !important;
}

.w3-hover-theme:hover {
  color: #000 !important;
  background-color: #ff9800 !important;
}
.w3-hover-text-theme:hover {
  color: #ff9800 !important;
}
.w3-hover-border-theme:hover {
  border-color: #ff9800 !important;
}
